@import url("https://api.fonts.coollabs.io/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

:root {
  --blue-color: #13183F;
  --pink-color: #F74780;
  --blue-light: #666CA3;
  --pink-light: #FFA7C3;
  --gray-color: #83869A;
  --wwhite-color: #FFFFFF;
  --gradient-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --gradient-purple: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  all: unset;
}

.overflow-wrapper {
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 24px;
}

/* NAV BAR */
.nav-btn {
  background-color: var(--blue-color);
  color: var(--wwhite-color);
  padding: 16px 32px;
  border-radius: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

/* HERO CONTENTS */
.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-header {
  color: var(--blue-color);
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%
}

.hero-subheader {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #83869A;
  margin-top: 28px;
  margin-bottom: 40px;
}

.hero-btn {
  background: var(--gradient-pink);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
}

.hero-img {
  margin-right: -464px;
  margin-top: -226px;
}

.tablet-img {
  display: none;
}

.mobile-img {
  display: none;
}

/* COURSES SECTION */
.courses {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 352px);
  gap: 32px;
}

.course-box {
  width: 352px;
  height: 322px;
}



/* MEDIA QUERIES */



@media screen and (max-width: 850px) {
  .nav-btn {
    padding: 10px 25px;
  }

  .hero-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  .tablet-img {
    margin-right: -327px;
    margin-top: -146px;
  }

  .hero-header {
    color: var(--blue-color);
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%
  }

  @media screen and (max-width: 700px) {

    .tablet-img {
      display: none;
    }

    .hero-img {
      display: none;
    }

    .mobile-img {
      display: block;
    }

    .hero-content-container {
      display: flex;
      flex-direction: column;
    }

  }
}