@import url("https://api.fonts.coollabs.io/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

:root {
  --blue-color: #13183F;
  --pink-color: #F74780;
  --blue-light: #666CA3;
  --pink-light: #FFA7C3;
  --gray-color: #83869A;
  --wwhite-color: #FFFFFF;
  --gradient-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --gradient-purple: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}

button {
  border: none;
}

.overflow-wrapper {
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 24px;
}

/* NAV BAR */
.nav-btn {
  background-color: var(--blue-color);
  color: var(--wwhite-color);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.nav-btn:hover {
  background: #666CA3;
}

/* HERO CONTENTS */
.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-header {
  color: var(--blue-color);
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
}

.hero-subheader {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #83869A;
  margin-top: 28px;
  margin-bottom: 40px;
}

.hero-btn {
  background: var(--gradient-pink);
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  transition: .2s ease-in;
}

.hero-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.hero-img {
  margin-right: -464px;
  margin-top: -226px;
}

.tablet-img {
  display: none;
}

.mobile-img {
  display: none;
}

/* COURSES SECTION */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px 32px;
  justify-items: center;
}

.course-box {
  width: 352px;
  height: 322px;
  background-color: white;
  border-radius: 15px;
  padding-top: 64px;
  padding-inline: 32px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.course-img {
  position: absolute;
  top: -9%;
  right: 71%;
}


.popular-courses {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  font-family: 'Plus Jakarta Sans';
  color: white;
}

#colored-box {
  background: var(--gradient-pink);
}

.course-header {
  color: var(--blue-color);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
}

.course-link:hover {
  color: #FFA7C3;
}

.course-content {
  color: var(--gray-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-block: 24px;
}

.course-link {
  color: var(--pink-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  bottom: 10%;
}

/* FOOTER */
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
  margin-top: 144px;
}

footer {
  background-color: var(--blue-color);
}

.footer-btn {
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  transition: .15s ease-in-out;
}

.footer-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}


/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 32px;
    justify-items: center;
  }

  .course-box {
    width: 320px;
  }
}

@media screen and (max-width: 850px) {
  .nav-btn {
    padding: 10px 25px;
  }

  .hero-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  .tablet-img {
    margin-right: -327px;
    margin-top: -146px;
  }

  .hero-header {
    color: var(--blue-color);
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 32px;
    justify-items: center;
  }

  .course-box {
    width: 320px;
  }
}


@media screen and (max-width: 720px) {

  .tablet-img {
    display: none;
  }

  .hero-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .hero-content-container {
    display: flex;
    flex-direction: column;
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 56px 32px;
    justify-items: center;
  }

  .course-box {
    width: 100%;
  }

}